zipped/
Carthage/Checkouts
Carthage/Build
# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html

# scan temporary files
fastlane/test_output

# Fastlane.swift runner binary
fastlane/FastlaneRunner

# End of https://www.toptal.com/developers/gitignore/api/fastlane