github "braintree/braintree_ios"
github "realm/realm-cocoa"
github "SimonFairbairn/SwiftyMarkdown"
github "MobileNativeFoundation/Kronos"
github "nrohwedder/Interpolate"
github "jumio/mobile-sdk-ios"
github "ReactiveCocoa/ReactiveSwift"
github "ReactiveCocoa/ReactiveCocoa.git"
github "raphaelmor/Polyline"
github "optonaut/ActiveLabel.swift"
github "GEOSwift/GEOSwift"
github "GEOSwift/geos"
github "adjust/ios_sdk"
github "amplitude/Amplitude-iOS"
binary "https://downloads.localytics.com/SDKs/iOS/Localytics.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json"
